<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="actor" class="com.stackroute.domain.Actor">
        <property name="name" value="Rajinikanth"/>
        <property name="gender" value="Male"/>
        <property name="age" value="68"/>
    </bean>

    <bean id="movie" class="com.stackroute.domain.Movie">
        <property name="Actor" ref="actor"/>
    </bean>

    <bean id="cons-actor1" class="com.stackroute.domain.Actor">
        <constructor-arg index="0" value="Vijay Devarakonda"/>
        <constructor-arg index="1" value="Male"/>
        <constructor-arg index="2" value="29"/>
    </bean>

    <bean id="cons-actor2" class="com.stackroute.domain.Actor">
        <constructor-arg index="0" value="Vijay"/>
        <constructor-arg index="1" value="Male"/>
        <constructor-arg index="2" value="53"/>
    </bean>

    <bean id="cons-actor3" class="com.stackroute.domain.Actor">
        <constructor-arg index="0" value="Ajith"/>
        <constructor-arg index="1" value="Male"/>
        <constructor-arg index="2" value="53"/>
    </bean>

    <bean id="sarkar" scope="prototype" class="com.stackroute.domain.Movie">
        <constructor-arg index="0" ref="cons-actor2"/>
    </bean>

    <bean id="arjun reddy" scope="prototype" class="com.stackroute.domain.Movie">
        <constructor-arg index="0" ref="cons-actor1"/>
    </bean>

    <bean id="mankatha" class="com.stackroute.domain.Movie">
        <constructor-arg index="0" ref="cons-actor3"/>
    </bean>

    <bean name="arjun reddy, taxiwaala" scope="prototype" class="com.stackroute.domain.Movie">
        <constructor-arg index="0" ref="cons-actor1"/>
    </bean>

</beans>